* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #333;
    font-family: "Microsoft YaHei", Hiragino Sans GB, sans-serif;
}

body {
    position: relative;
    top: 0;
    min-width: 1200px;
}

.big {
    width: 100%;
    background: #2d2f31;
    /*background: white;*/
}

.big .big_c {
    width: 100%;
    max-width: 1020px;
    padding: 125px 0 150px 0;
    position: relative;
}

.big .h1 {
    height: 40px;
}

.big .size {
    width: 120px;
    height: 10px;
    border-right: 2px solid #44a8f2;
    float: left;
    position: relative;
    margin-top: 126px;
}

.big .day {
    width: 1000px;
    height: 130px;
    border-bottom: 2px solid #888;
    margin-bottom: 120px;
    position: relative;
}

.big .day1 {
    position: absolute;
    bottom: -17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #44a8f2;
    background: #2d2f31;
    /*background: white;*/
    opacity: 0;
    cursor: pointer;
}

.big .day1:hover .h_c {
    background: #44a8f2;
}

.big .day2 {
    position: absolute;
    bottom: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #44a8f2;
    background: #2d2f31;
    /*background: white;*/
    right: 0;
    opacity: 0;
    cursor: pointer;
    transition: background 0.5s;
}

.big .day2:hover {
    background: #44a8f2;
}

.big .day1 .date {
    color: #888888;
    font-size: 14px;
    position: relative;
    top: -42px;
    left: -18px;
}

.big .day1 .dot {
    width: 3px;
    color: #888;
    display: block;
    overflow: hidden;
    height: 63px;
    word-break: break-all;
    line-height: 6px;
    position: relative;
    top: 15px;
}

.big .day1 .title {
    color: #fff;
    font-size: 14px;
    color: #ccc;
    width: 60px;
    display: block;
    left: -15px;
    position: relative;
    top: 15px;
    transition: color 0.5s;
}

.big .day2 .date {
    color: #888888;
    font-size: 14px;
    position: relative;
    top: -50px;
    left: -30px;
}

.big .day2 .dot {
    width: 3px;
    color: #888;
    display: block;
    overflow: hidden;
    height: 63px;
    word-break: break-all;
    line-height: 6px;
    position: relative;
    top: 5px;
}

.big .day2 .title {
    color: #fff;
    font-size: 14px;
    color: #ccc;
    width: 90px;
    display: block;
    left: -35px;
    position: relative;
    top: 7px;
    transition: color 0.5s;
}

.big #d9 {
    border-color: #888;
}

.big #d9 .date {
    left: -3px;
    font-size: 22px;
    top: -54px;
}

.big .green {
    width: 0;
    border-bottom: 2px solid #44a8f2;
    bottom: -2px;
    position: absolute;
    left: 0;
}

.big .det {
    position: absolute;
    bottom: 80px;
    left: 0;
    color: #fff;
    font-size: 14px;
    opacity: 0;
}

.big .day1 .h_c {
    width: 14px;
    height: 14px;
    background: #2d2f31;
    /*background: white;*/
    position: absolute;
    /*top: 8;*/
    /*left: 8;*/
    top: 8px;
    left: 8px;
    border-radius: 50%;
    transition: background 0.5s;
}