* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.8 "Microsoft Yahei";
}

.section {
    position: relative;
    overflow: hidden;
}

.section .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.section .bg img {
    display: block;
    width: 100%;
    height: 100%;
}

.section strong {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    font-size: 24px;
    font-weight: 500;
    color: #748A9E;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.section h3 {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.section5 h3 {
    background-image: url(../images/t5.png);
}

.p1 {
    position: absolute;
    left: 50%;
    top: 15%;
    width: 510px;
    margin-left: -255px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
    opacity: 0;
    transition: all 1s;
}

.bg11 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 850px;
    background: url(../images/bg11.png) 50% 0 no-repeat;
    transition: all 1s;
}

.bg12 {
    position: absolute;
    bottom: -392px;
    width: 100%;
    height: 392px;
    background: url(../images/bg12.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1.7s;
}

.bg13 {
    position: absolute;
    bottom: -377px;
    width: 100%;
    height: 377px;
    background: url(../images/bg13.png) 50% 0 no-repeat;
    transition: all 1s;
}

.hgroup {
    position: absolute;
    width: 554px;
    height: 176px;
    left: 50%;
    top: 25%;
    margin: 0 0 0 -277px;
    text-indent: -9999px;
    background-image: url(../images/slogan.png);
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.p11 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: 0 0 0 -280px;
    font-size: 14px;
    color: #94a7c6;
    opacity: 0;
    transition: all 0.5s;
}

.bg51, .bg52, .bg53, .bg54 {
    position: absolute;
    z-index: 1;
    width: 208px;
    left: 50%;
    bottom: 20%;
    padding-top: 210px;
    color: #fff;
}

.section5 h4 {
    margin-bottom: 12px;
    font-size: 23px;
    font-weight: 500;
}

.section5 p {
    font-size: 14px;
}

.bg51 {
    margin-left: -851px;
    background: url(../images/bg51.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}

.bg52 {
    margin-left: -403px;
    background: url(../images/bg52.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}

.bg53 {
    margin-left: 195px;
    background: url(../images/bg53.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}

.bg54 {
    margin-left: 645px;
    background: url(../images/bg54.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}

.section8 strong {
    width: 561px;
    margin-left: -280px;
}

.section8 h3 {
    width: 561px;
    margin-left: -280px;
    background-image: url(../images/t8.png);
}

.bg81 {
    position: absolute;
    width: 100%;
    bottom: 100px;
    height: 215px;
    background: url(../images/bg81.png) 50% 0 no-repeat;
}

.bg82 {
    position: absolute;
    left: 50%;
    bottom: 160px;
    width: 164px;
    height: 117px;
    margin-left: -180px;
    background-image: url(../images/bg82.png);
    opacity: 0;
    transition: all 1s;
}

.bg83 {
    position: absolute;
    left: 50%;
    bottom: 280px;
    width: 70px;
    height: 29px;
    margin-left: -330px;
    background-image: url(../images/bg83.png);
    opacity: 0;
    transition: all 1s;
}

.bg84 {
    position: absolute;
    left: 50%;
    bottom: 320px;
    width: 43px;
    height: 26px;
    margin-left: -410px;
    background-image: url(../images/bg84.png);
    opacity: 0;
    transition: all 1s;
}

.p8 {
    position: absolute;
    left: 50%;
    top: 15%;
    width: 565px;
    margin-left: -282px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
    opacity: 0;
    transition: all 1s;
}

.section8 .weibo {
    position: absolute;
    left: 51%;
    top: 50%;
    opacity: 0;
    transition: all 1s;
}

.section8 .weixin {
    position: absolute;
    left: 56%;
    top: 50%;
    opacity: 0;
    transition: all 1s;
}

.section8 .mailbox {
    position: absolute;
    left: 61%;
    top: 50%;
    opacity: 0;
    transition: all 1s;
}

.section8 .phone {
    position: absolute;
    left: 66%;
    top: 50%;
    opacity: 0;
    transition: all 1s;
}

/*动画*/
.active strong, .active h3 {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

.active .p1 {
    opacity: 1;
    transition-delay: 1.7s;
}

.active .bg12 {
    bottom: 90px;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .bg13 {
    bottom: 0;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .hgroup {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

.active .p11 {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 2s;
}

.active .bg51 {
    margin-left: -551px;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .bg52 {
    margin-left: -253px;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .bg53 {
    margin-left: 45px;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .bg54 {
    margin-left: 345px;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .bg82 {
    bottom: 260px;
    margin-left: -280px;
    opacity: 1;
    transition-delay: 0.7s;
}

.active .bg83 {
    bottom: 380px;
    margin-left: -430px;
    opacity: 1;
    transition-delay: 1s;
}

.active .bg84 {
    bottom: 420px;
    margin-left: -510px;
    opacity: 1;
    transition-delay: 1.2s;
}

.active .p8 {
    opacity: 1;
    transition-delay: 1.7s;
}

/*need modifying*/
.active .weibo {
    opacity: 1;
    transition-delay: 1.7s;
}

.active .mailbox {
    opacity: 1;
    transition-delay: 1.7s;
}

.active .weixin {
    opacity: 1;
    transition-delay: 1.7s;
}

.active .phone {
    opacity: 1;
    transition-delay: 1.7s;
}