* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 微软雅黑, sans-serif;
}

.nav {
    position: fixed;
    height: 80px;
    background: white;
    line-height: 80px;
    text-align: right;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #dddddd;
}

.nav_content {
    width: 100%;
    height: 80px;
    position: relative;
}

.nav_menu {
    width: 100%;
    max-width: 1200px;
}

.nav_menu a {
    color: black;
}

#logo {
    float: left;
}

.nav_menu_item {
    position: relative;
    padding: 31px 20px 20px 20px;
    font-size: 14px;
    transition: color, border, top 0.5s;
}

.nav_menu_item span {
    border-bottom: 2px solid #44a8f2;
    position: absolute;
    bottom: 0;
    width: 60%;
    display: block;
    left: 20%;
    opacity: 0;
    transition: all 0.5s;
}

.nav_menu_item:hover {
    top: -3px;
    color: #44a8f2 !important;
}

.nav_menu_item:hover span {
    opacity: 1;
    bottom: 10px;
}

.nav .nav_productmenu {
    width: 100%;
    height: 0;
    clear: both;
    position: relative;
    background: #fff;
    top: -4px;
    border-bottom: 0 solid #ccc;
    overflow: hidden;
}

.nav .nav_productmenu img {
    width: 130px;
    height: 130px;
    position: relative;
    margin: 30px 30px 0 0;
}