* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0; /* for IE*/
    color: black;
    font-family: "Microsoft YaHei", Hiragino Sans GB, sans-serif;
}

body {
    /*position: relative;*/
    /*top: 0;*/
    min-width: 1200px;
}

.nav {
    /*position: absolute;*/
    height: 60px;
    background: white;
    line-height: 60px;
    text-align: right;
    width: 100%;
    z-index: 12;
    border-bottom: 1px solid #dddddd;
}

.nav_content {
    width: 100%;
    height: 60px;
    position: relative;
}

.nav_menu {
    width: 100%;
    max-width: 1200px;
}

.nav_menu a {
    color: #707473;
}

#logo {
    float: left;
    padding-top: 15px;
    height: 30px;
}

.nav_menu_item {
    position: relative;
    padding: 31px 20px 20px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: color, border, top 0.5s;
}

.nav_menu_item span {
    border-bottom: 2px solid #44a8f2;
    position: absolute;
    bottom: 0;
    width: 60%;
    display: block;
    left: 20%;
    opacity: 0;
    transition: all 0.5s;
}

.nav_menu_item:hover {
    top: -3px;
    color: #44a8f2 !important;
}

.nav_menu_item:hover span {
    opacity: 1;
    bottom: 10px;
}

.nav .nav_productmenu {
    width: 100%;
    height: 0;
    clear: both;
    position: relative;
    background: #fff;
    top: -4px;
    border-bottom: 0 solid #ccc;
    overflow: hidden;
    z-index: 12;
}

.nav .nav_productmenu img {
    width: 199px;
    height: 158px;
    position: relative;
    margin: 30px 30px 0 0;
}

.big {
    width: 100%;
    background: #2d2f31;
    margin-top: 130px;
    /*background: white;*/
}

.about_us {
    width: 100%;
    margin-top: 95px;
}

.about_us strong {
    position: relative;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    font-size: 24px;
    font-weight: 500;
    color: #748A9E;
}

.about_us .bigtitle {
    position: relative;
    top: 20%;
    left: -1%;
    margin-top: 25px;
    font-family: "Source-Han-Ligh48e73877a6908";
    font-size: 45px;
    text-align: center;
}

.about_us p {
    margin: 23px 382px 0 382px;
    color: black;
}

.big .big_c {
    width: 100%;
    max-width: 1020px;
    padding: 125px 0 150px 0;
    position: relative;
}

.big .bigtitle {
    position: relative;
    top: 20%;
    left: -1%;
    margin-top: 25px;
    font-family: "Source-Han-Ligh48e73877a6908";
    font-size: 45px;
    text-align: center;
    color: white;
}

.big .h1 {
    height: 40px;
}

.big .size {
    width: 120px;
    height: 10px;
    border-right: 2px solid #44a8f2;
    float: left;
    position: relative;
    margin-top: 126px;
}

.big .day {
    width: 1000px;
    height: 130px;
    border-bottom: 2px solid #888;
    margin-bottom: 120px;
    position: relative;
}

.big .day1 {
    position: absolute;
    bottom: -17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #44a8f2;
    background: #2d2f31;
    /*background: white;*/
    opacity: 0;
    cursor: pointer;
}

.big .day1:hover .h_c {
    background: #44a8f2;
}

.big .day2 {
    position: absolute;
    bottom: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #44a8f2;
    background: #2d2f31;
    /*background: white;*/
    right: 0;
    opacity: 0;
    cursor: pointer;
    transition: background 0.5s;
}

.big .day2:hover {
    background: #44a8f2;
}

.big .day1 .date {
    color: #888888;
    font-size: 14px;
    position: relative;
    top: -42px;
    left: -18px;
}

.big .day1 .dot {
    width: 3px;
    color: #888;
    display: block;
    overflow: hidden;
    height: 63px;
    word-break: break-all;
    line-height: 6px;
    position: relative;
    top: 15px;
}

.big .day1 .title {
    color: #fff;
    font-size: 14px;
    color: #ccc;
    width: 60px;
    display: block;
    left: -15px;
    position: relative;
    top: 15px;
    transition: color 0.5s;
}

.big .day2 .date {
    color: #888888;
    font-size: 14px;
    position: relative;
    top: -50px;
    left: -30px;
}

.big .day2 .dot {
    width: 3px;
    color: #888;
    display: block;
    overflow: hidden;
    height: 63px;
    word-break: break-all;
    line-height: 6px;
    position: relative;
    top: 5px;
}

.big .day2 .title {
    color: #fff;
    font-size: 14px;
    color: #ccc;
    width: 90px;
    display: block;
    left: -35px;
    position: relative;
    top: 7px;
    transition: color 0.5s;
}

.big #d9 {
    border-color: #888;
}

.big #d9 .date {
    left: -3px;
    font-size: 22px;
    top: -54px;
}

.big .green {
    width: 0;
    border-bottom: 2px solid #44a8f2;
    bottom: -2px;
    position: absolute;
    left: 0;
}

.big .det {
    position: absolute;
    bottom: 80px;
    left: 0;
    color: #fff;
    font-size: 14px;
    opacity: 0;
}

.big .day1 .h_c {
    width: 14px;
    height: 14px;
    background: #2d2f31;
    /*background: white;*/
    position: absolute;
    /*top: 8;*/
    /*left: 8;*/
    top: 8px;
    left: 8px;
    border-radius: 50%;
    transition: background 0.5s;
}

.ourstory .bigtitle {
    position: relative;
    top: 20%;
    left: -1%;
    margin-top: 76px;
    font-family: "Source-Han-Ligh48e73877a6908";
    font-size: 45px;
    text-align: center;
}

.ourstory .text {
    /*text-align: center;*/
    /*margin: 0 20px;*/
    position: relative;
    left: 26%;
    width: 657px;
    margin-top: 20px;
}

.ourstory .picture_c {
    text-align: center;
}

.ourstory .picture {
    width: auto;
    margin: 0 20px;
    margin-top: 70px;
}

.ourstory .picture a {
    margin: 0 10px;
}

.ourstory .fancybox img {
    width: 310px;
    height: 200px;
}

.footer {
    text-align: center;
    height: 105px;
    background-color: #282828;
}

.footer .ft {
    margin-top: 148px;
    width: auto;
    height: 95px;
    font-size: 13px;
    /*padding-top: 15px;*/ /*use it will have margin-bottom!!!*/
}

.footer .p1 {
    padding-top: 17px;
}

.footer .p2 {
    padding-top: 11px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #44a8f2;
}

