* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 微软雅黑;
}

.nav {
    position: fixed;
    /*height: 80px;*/
    height: 55px; /*add*/
    /*background: white;*/
    background: rgba(0, 0, 0, 0.50); /*add*/
    /*line-height: 80px;*/
    line-height: 55px; /*add*/
    text-align: right;
    width: 100%;
    z-index: 2;
    /*border-bottom: 1px solid #dddddd;*/
}

.nav_content {
    width: 100%;
    /*height: 80px;*/
    height: 55px; /*add*/
    position: relative;
}

.nav_menu {
    width: 100%;
    max-width: 1200px;
}

.nav_menu a {
    /*color: black;*/
    color: white; /*add*/
}

#logo {
    float: left;
}

.nav_menu_item {
    position: relative;
    padding: 31px 20px 20px 20px;
    font-size: 14px;
    transition: color, border, top 0.5s;
}

.nav_menu_item span {
    border-bottom: 2px solid #1E90FF;
    position: absolute;
    bottom: 0;
    width: 60%;
    display: block;
    left: 20%;
    opacity: 0;
    transition: all 0.5s;
}

.nav_menu_item:hover {
    top: -3px;
    color: #1E90FF !important;
}

.nav_menu_item:hover span {
    opacity: 1;
    bottom: 10px;
}

.nav .nav_productmenu {
    width: 100%;
    height: 0;
    clear: both;
    position: relative;
    /*background: #fff;*/
    top: -4px;
    /*border-bottom: 0 solid #ccc;*/
    overflow: hidden;
}

.nav .nav_productmenu img {
    width: 130px;
    height: 130px;
    position: relative;
    margin: 30px 30px 0 0;
}

#banner {
    width: 100%;
    height: 680px;
    position: relative;
}

#banner .banner_picture {
    width: 100%;
    height: 100%;
    background: #383a39 no-repeat center;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s;
}

#banner .left, #banner .right {
    width: 18px;
    height: 32px;
    top: 50%;
    padding: 6px;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
}

#banner .left {
    left: 40px;
}

#banner .right {
    right: 40px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#banner .left:hover {
    opacity: 1;
}

#banner .right:hover {
    opacity: 1;
}

#banner img {
    width: 18px;
    height: 32px;
}

#banner .banner_text {
    position: absolute;
    top: 65%;
    left: 60px;
    color: white;
    width: 366px;
    height: 188px;
    cursor: default;
    opacity: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity, top, 0.3s linear 1s;
    /*font-size: 25px;*/
}

#banner #circle_nav {
    position: absolute;
    right: 5%;
    bottom: 2%;
    height: auto;
    cursor: pointer;
    z-index: 2;
}

#banner #circle_nav .circle {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    cursor: pointer;
    z-index: 2;
    transition: background 1s;
}

#banner .down {
    position: absolute;
    bottom: 6%;
    left: 50%;
    color: white;
    cursor: pointer;
    z-index: 2;
}

#banner .down_arrow {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: absolute;
    transition: opacity 1s;
}

#banner #arrow2 {
    top: 8px;
    transition-delay: 1s;
}
